<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Users','none')"></head>

<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>

		<div>
			<h2>Manage Users</h2>

			<a th:href="@{/users/new}"
				class="fa fa-user-plus fa-2x icon-dark mr-3" title="Create new user."></a><a
				th:href="@{/users/export/csv}"
				class="fa fa-file-csv fa-2x icon-dark mr-2" title="Export to csv."></a><a
				th:href="@{/users/export/excel}"
				class="fa fa-file-excel fa-2x icon-dark mr-2" title="Export to excel."></a> <a
				th:href="@{/users/export/pdf}"
				class="fa fa-file-pdf fa-2x icon-dark mr-2" title="Export to pdf."></a>
		</div>

		<div
			th:replace="fragments :: search_form_and_message"></div>


		<div class="full-details">

			<table
				class="table table-bordered table-striped table-hover table-responsive-md table-width">
				<thead class="thead-dark">

					<tr>

						<th class="hideable-column">
						<th
							th:replace="fragments :: column_link('id', 'User ID','tag')" /></th>


						<th>Photos</th>

						<th class="hideable-column">
						<th
							th:replace="fragments :: column_link('email', 'E-mail','tag')" /></th>


						<th
							th:replace="fragments :: column_link('firstName', 'First Name', 'none')" />

						<th
							th:replace="fragments :: column_link('lastName', 'Last Name', 'none')" />

						<th>Roles</th>

						<th
							th:replace="fragments :: column_link('enabled', 'Enabled', 'none')" />

						<th>Actions</th>
					</tr>
				</thead>
				<tbody class="p-5">
					<th:block th:each="user : ${listUsers}">
						<tr>
							<td class="hideable-column">[[${user.id}]]</td>
							<td><span th:if="${user.photos == null }"
								class="fa-solid fa-portrait fa-3x icon-silver"></span> <img
								th:if="${user.photos != null}"
								th:src="@{${user.photoImagePath}}" class="img-fluid"
								style="width: 100px; height: auto;"></td>
							<td class="hideable-column">[[${user.email}]]</td>
							<td>[[${user.firstName}]]</td>
							<td>[[${user.lastName}]]</td>
							<td>[[${user.roles}]]</td>

							<td>
								
								<div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})"></div>
							</td>

							<td>
								
								<div th:replace="fragments :: edit('user','/users/edit/' + ${user.id})"></div>
								&nbsp;
							<div th:replace="fragments :: delete('user','/users/delete/' + ${user.id},${user.id},true)"></div>

							</td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>

		<div class="less-details">
			<div th:each="user : ${listUsers}" class="row">
				<div class="col-4">
					<span th:if="${user.photos == null }"
						class="fa-solid fa-portrait fa-3x icon-silver"></span> <img
						th:if="${user.photos != null}" th:src="@{${user.photoImagePath}}"
						class="img-fluid mt-2" style="width: 100px; height: auto;">

				</div>
				<div class="col-8">
					<div>[[${user.fullName}]]</div>
					<div>[[${user.email}]]</div>
					<div>[[${user.roles}]]</div>
					<div>
						<div
							th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})"></div>

					<div th:replace="fragments :: edit('user','/users/edit/' + ${user.id})"></div>
								&nbsp;
								
								<div th:replace="fragments :: delete('user','/users/edit/' + ${user.id},${user.id},true)"></div>

					</div>
				</div>
				<hr>
			</div>


		</div>



	<div th:replace="fragments :: pagination('users')"></div>

	<div th:replace="modal_fragments :: confirm_modal"></div>
	<div th:replace="fragments :: footer"></div>



	</div>



	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/js/common_lists.js}"></script>
	<script type="text/javascript">
	    moduleURL = "[[@{/users}]]"
	    entityName = "users";
	</script>

</body>
</html>