<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Shopme', 'none')">
  <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>
</head>

<body>

<div class="container-fluid">

    <div th:replace="navigation :: nav_menu"></div>
    <div th:replace="navigation :: special_message"></div>
    <div th:replace="navigation :: header_images"></div>

    <div class="text-center mt-3">
        <h1 class="display-4 fw-bold text-dark" style="font-family: 'Arial Black', sans-serif;">Shop by Categories</h1>
    </div>

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                
                <div class="col mb-5" th:each="cat : ${listCategories}">
                    <div class="card h-100">
                        <!-- Product image-->
                        <a th:href="@{ '/c/' + ${cat.alias}}">
                            <img class="card-img-top" th:src="@{${cat.imagePath}}" alt="..." />
                        </a>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">
                                    <a th:href="@{ '/c/' + ${cat.alias}}" class="product-name">[[${cat.name}]]</a>
                                </h5>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" th:href="@{ '/c/' + ${cat.alias}}">View more</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <div th:replace="fragments :: modal_dialog"></div>
    <div th:replace="fragments :: footer_menu"></div>
    <div th:replace="subscribe_newsletter_thanks_modal :: subscribe_modal"></div>

</div>

<script type="text/javascript">
    var contextPath = "[[@{/}]]";
    var csrfHeaderName = "[[${_csrf.headerName}]]";
    var csrfValue = "[[${_csrf.token}]]";
</script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/common_modal.js}"></script>
<script type="text/javascript" th:src="@{/js/subscription_modal.js}"></script>
<script type="text/javascript" th:src="@{/js/shopping_cart_items_count.js}"></script>

</body>
</html>
