<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle}, 'tag')"></head>
<body class="d-flex flex-column min-vh-100">
  <div class="container-fluid flex-grow-1 d-flex flex-column">
    <div th:replace="navigation :: nav_menu"></div>
    <div th:replace="navigation :: special_message"></div>
    <div style="border-bottom: 20px solid black; margin: 5px; padding: 5px;"></div>
        
    <div>&nbsp;</div>

    <div class="text-center" th:if="${title != null}">
      <h2 th:text="${title}"></h2>
    </div>
        
    <div class="text-center" th:if="${message != null}">
      <h3 th:text="${message}"></h3>
    </div>

    <div>&nbsp;</div>
        
    <div class="mt-auto">
      <div th:replace="fragments :: footer_menu"></div>
    </div>
  </div>  
</body>
</html>
