
.custom-badge2 {
    background-color: #6c757d; /* Primary color */
    color: white;
}

.custom-badge2:hover {
    background-color: #5a6268; /* Darker primary color for hover */
    color: white;
}



.custom-badge {
    background-color: #007bff; /* Primary color */
    color: white;
}

.custom-badge:hover {
    background-color: #0056b3; /* Darker primary color for hover */
    color: white;
}



.breadcrumb {
    margin: 0;
    background: #12abb3;
    border-radius: 5px;
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
}

.breadcrumb li {
    list-style: none; /* Remove default list styling */
    margin-right: 10px; /* Add some space between items */
}

.breadcrumb li:first-child {
    display: flex; /* Ensure the first item is also a flex container */
    align-items: center; /* Center the home icon vertically */
    margin-right: 10px; /* Adjust space after the home icon */
}

.breadcrumb li:first-child a {
    font-size: 24px; /* Maintain a larger size for the home icon */
    color: #fff; /* Ensure the home icon color matches other items */
    text-decoration: none; /* Remove underline */
}

.breadcrumb li.active,
.breadcrumb li a {
    font-size: 14px;
    color: #fff;
    text-decoration: none; /* Remove underline */
}

/* Optional: Add custom styles for other breadcrumb items */
.breadcrumb li a:hover {
    text-decoration: underline; /* Add underline on hover for other items */
}

.breadcrumb li + li:before {
    content: '/';
    color: #fff;
    margin-right: 10px;
}

  

.no-underline {
    text-decoration: none;
}

.no-underline:hover {
    text-decoration: underline;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-fluid {
    flex-grow: 1;
}

.mt-auto {
    margin-top: auto;
}



button .caption {
    display: none;
}

button:hover .caption {
    display: inline;
    /* Additional styling as needed */
}


  .product-name {
    color: black; /* Default link color */
    text-decoration: none; /* Remove underline */
    transition: color 0.2s ease; /* Smooth transition for color change */
  }


.custom-heading {
    color: green; /* Dark gray color */
    font-family: 'Arial Black', sans-serif;
}

  /* Hover effect */
.product-name:hover {
  color: #12abb3; /* Change color on hover */
    text-decoration: underline; /* Add underline on hover */
  }

  /* Active link styles (when clicked) */
  .product-name :active {
    color: #009999 ; /* Change color when clicked */
  }
  
  .dropdown-menu-hover:hover {
	
	background: #343a40;
	color: #F8F8FF;
}
/* Custom CSS to change the active page item color */
.page-item.active .page-link {
    background-color: #343a40;;
    border-color: #f0f8ff;
    color: #F8F8FF;
}
.ribbon {
  position: absolute;
  top: 0.2rem; /* Adjust as needed */
  right: 0.2rem; /* Adjust as needed */
  z-index: 1;
  width: 3rem; /* Adjust width as needed */
  padding: 0.25rem 0;
  background-color: #6bbf69; /* Mild green color */
  color: white;
  font-size: 0.8rem;
  text-align: center;
  transform: rotate(-15deg);
  transform-origin: top left;
}

.ribbon::before,
.ribbon::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: #6bbf69 transparent transparent transparent; /* Mild green color */
}

.ribbon::before {
  top: 100%;
  left: 0;
  border-width: 0.5rem 0 0 0.5rem; /* Adjust size as needed */
}

.ribbon::after {
  bottom: 100%;
  right: 0;
  border-width: 0 0.5rem 0.5rem 0; /* Adjust size as needed */
}

.mine-badge {
  position: absolute;
  top: 8px; /* Adjust position as needed */
  left: 2px; /* Adjust position as needed */
  z-index: 1;
  width: auto;
  padding: 5px 10px; /* Adjust padding as needed */
  background-color:#6f42c1; /* Blue color with transparency */
  color: #ffffff; /* White color */
  font-size: 0.8rem;
  text-align: center;
  transform: rotate(-15deg);
}

.mine-badge ::before,
.mine-badge ::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: rgba(0, 123, 255, 0.8) transparent transparent transparent; /* Blue color with transparency */
}

.mine-badge ::before {
  top: 100%;
  left: 0;
  border-width: 8px 8px 0 0; /* Adjust size as needed */
}

.mine-badge ::after {
  bottom: 100%;
  right: 0;
  border-width: 0 0 8px 8px; /* Adjust size as needed */
}

.new-arrival-badge {
  position: absolute;
  top: 10px; /* Adjust position as needed */
  right: 10px; /* Adjust position as needed */
  z-index: 1;
  width: auto;
  padding: 5px 10px; /* Adjust padding as needed */
  background-color: #28a745; /* Green color */
  color: #ffffff; /* White text color */
  font-size: 0.8rem;
  text-align: center;
  transform: rotate(-45deg);
  transform-origin: top left;
  border-radius: 3px; /* Optional: adds rounded corners */
}

.new-arrival-badge::before,
.new-arrival-badge::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: #28a745 transparent transparent transparent; /* Green color */
}

.new-arrival-badge::before {
  top: 100%;
  left: 0;
  border-width: 8px 8px 0 0; /* Adjust size as needed */
}

.new-arrival-badge::after {
  bottom: 100%;
  right: 0;
  border-width: 0 0 8px 8px; /* Adjust size as needed */
}


