<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('My Questions', 'none')" />

<body>
    <div class="container-fluid flex-grow-1 d-flex flex-column">
        <div th:replace="navigation :: nav_menu"></div>
        <div th:replace="navigation :: special_message"></div>
        <div class="text-center">
            <h2>Questions Asked by Me</h2>
        </div>

        <div th:replace="fragments :: search_form"></div>

        <div class="full-details">
            <table class="table table-striped table-bordered table-hover table-responsive-xl">
                <thead class="table-dark">
                    <tr>
                        <th th:replace="fragments :: column_link_for_form('id', 'ID', 'none')" />
                        <th th:replace="fragments :: column_link_for_form('product', 'Product', 'none')" />
                        <th th:replace="fragments :: column_link_for_form('questionContent', 'Question', 'none')" />
                        <th th:replace="fragments :: column_link_for_form('askTime', 'Ask Time', 'none')" />
                        <th th:replace="fragments :: column_link_for_form('approved', 'Approved', 'none')" />
                        <th>Answered</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="question : ${listQuestions}">
                        <td th:text="${question.id}">ID</td>
                        <td>
                            <a class="product-name" th:href="@{${question.product.URI}}" target="_blank" th:title="${question.product.name}">[[${question.product.shortName}]]</a>
                        </td>
                        <td th:text="${question.questionContent}">Question</td>
                        <td th:text="${question.askTime}">Ask Time</td>
                        <td>
                            <span class="fas fa-2x" th:classappend="${question.approved ? 'fa-check-circle icon-green' : 'fa-circle icon-dark'}"></span>
                        </td>
                        <td>
                            <span class="fas fa-2x" th:classappend="${question.answered ? 'fa-check-circle icon-green' : 'fa-circle icon-dark'}"></span>
                        </td>
                        <td>
                            <a class="fas fa-file-alt fa-2x icon-green link-detail" th:href="@{'/customer/questions/detail/' + ${question.id}}" title="View details of this question"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="less-details">
            <div th:each="question : ${listQuestions}" class="row m-1">
                <div class="col-2">
                    <span>[[${question.id}]]</span>
                </div>
                <div class="col-10">
                    <div class="mb-1">
                        <a th:href="@{${question.product.URI}}" target="_blank" th:title="${question.product.name}">[[${question.product.shortName}]]</a>
                    </div>
                    <div class="mb-1">
                        <span><i>[[${question.questionContent}]]</i></span>
                    </div>
                    <div>
                        &nbsp;
                        <small><div th:replace="fragments :: format_time(${question.askTime})"></div></small>
                        &nbsp;
                        <a class="fas fa-file-alt fa-2x icon-green link-detail"
                           th:href="@{'/customer/questions/detail/' + ${question.id}}"
                           title="View details of this question"></a>
                    </div>
                </div>
                <div>&nbsp;</div>
            </div>
        </div>

        <div th:replace="fragments ::pagination_for_form('questions', '/customer/questions')"></div>

        <div class="modal fade" id="detailModal">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                </div>
            </div>
        </div>
    </div>

    <!-- Ensure the footer stays at the bottom -->
       <div th:replace="fragments :: modal_dialog"></div>
    <div th:replace="fragments :: footer_menu" class="mt-auto"></div>
    <div th:replace="subscribe_newsletter_thanks_modal :: subscribe_modal"></div>

    <script th:src="@{/js/common_list.js}"></script>
    <script type="text/javascript">

					contextPath = "[[@{/}]]";
					moduleURL = "[[@{/customer/questions}]]";
					var csrfHeaderName = "[[${_csrf.headerName}]]";
					var csrfValue = "[[${_csrf.token}]]";

					$(document).ready(
							function() {
								handleDefaultDetailLinkClick();
								$("input[name='keywordForm']").attr(
										"placeholder", "Questions");
							});
				</script>
        
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/common_modal.js}"></script>
<script type="text/javascript" th:src="@{/js/subscription_modal.js}"></script>
<script type="text/javascript" th:src="@{/js/shopping_cart_items_count.js}"></script>
</body>
</html>
