<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="content" class="row m-2">
        <div class="col">
            <th:block th:each="question : ${listQuestions}">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <b>Question:</b>
                    </div>

                    <div class="col-auto d-flex align-items-center">
                        <a class="linkVoteQuestion fa-hand-point-up icon-dark text-decoration-none"
                            th:classappend="${question.upvotedByCurrentCustomer ? 'fas' : 'far'}"
                            th:id="'linkVoteUp-question-' + ${question.id}"
                            th:questionId="${question.id}"
                            th:href="@{'/vote_question/' + ${question.id} + '/up'}"></a>
                        <small  th:id="'linkThumbsUp-question-' + ${question.id}">[[${question.positiveVotes}]]</small>
                    </div>

                    <div class="col-auto d-flex align-items-center ms-1">
                        <a class="badge custom-badge2 rounded-pill linkVoteQuestionsCount text-decoration-none"
                            th:href="@{'/vote_question/count/' + ${question.id}}"
                            title="Click to View the Reacted Customer Names"
                            th:id="'voteCount-question-' + ${question.id}">[[${question.votes}]] Votes</a>
                    </div>

                    <div class="col-auto d-flex align-items-center ms-1">
                        <a class="linkVoteQuestion fa-hand-point-down icon-dark text-decoration-none"
                            th:classappend="${question.downvotedByCurrentCustomer ? 'fas' : 'far'}"
                            th:id="'linkVoteDown-question-' + ${question.id}"
                            th:questionId="${question.id}"
                            th:href="@{'/vote_question/' + ${question.id} + '/down'}"></a>
                        <small class="ms-1" th:id="'linkThumbsDown-question-' + ${question.id}">[[${question.negativeVotes}]]</small>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col">[[${question.questionContent}]]</div>
                </div>
                <div class="row mt-2">
                    <div class="col ms-4">
                        <small>[[${question.asker.fullName}]], 
                            <div th:replace="fragments :: format_time(${question.askTime})"></div>
                        </small>
                    </div>
                </div>

                <th:block th:if="${question.answered == true}">
                    <div class="row mt-2"><div class="col"><b>Answer:</b></div></div>
                    <div class="row"><div class="col">[[${question.answer}]]</div></div>
                    <div class="row mt-2"><div class="col ms-4"><small>[[${question.answerer.fullName}]], 
                        <div th:replace="fragments :: format_time(${question.answerTime})"></div></small></div></div>
                </th:block>

                <div class="row mt-2">
                    <div class="col">
                        <hr />
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</body>
</html>