
    
    <div class="modal-header">
        <h5 class="modal-title">Product Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
 	<div class="modal-body mx-3 px-3">
			<div class="container">
				<div class="row flex-md-row flex-column">
					<!-- Extra Images -->
					<div class="col-md-3 d-flex flex-column align-items-center">
						<div id="modalExtraImagesContainer" class="d-flex flex-md-column flex-row mb-md-0 mb-3">
							<th:block th:each="extraImage : ${product.images}">
								<img th:src="@{${extraImage.imagePath}}" class="img-fluid border p-1 mb-md-2 me-md-0 me-2 image-thumbnail extra-image" style="height: 60px; width: auto;" />
							</th:block>
						</div>
					</div>
					<!-- Main Image -->
					<div class="col-md-9">
						<div id="modalImageContainer">
							<img id="mainImage" th:src="@{${product.mainImagePath}}" class="img-fluid image-thumbnail" alt="Product Image" />
						</div>
					</div>
				</div>
				<!-- Product Name -->
				<h2 th:text="${product.name}"></h2>
				<!-- Brand -->
				<div id="modalProductBrand">
					<span class="h6">Brand: <span th:text="${product.brand.name}"></span></span>
					<img th:src="@{${product.brand.logoPath}}" class="img-fluid" style="max-width: 60px; max-height: 50px;" />
				</div>
				<!-- Short Description -->
				<div class="mt-3" th:utext="${product.shortDescription}"></div>
			</div>
		</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
    </div>


  
    <script type="text/javascript">
        $(document).ready(function() {
            $(".extra-image").on("click", function() {
                var currentImageSource = $(this).attr("src");
                $("#mainImage").attr("src", currentImageSource);
            });
        });
    </script>