<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Forgot Password', 'none')" />
<body>
	<div class="container-fluid text-center">
		<div th:replace="navigation :: header_menu"></div>
		<div>&nbsp;</div>

		<div class="alert alert-warning mt-3" role="alert">
			<h4 class="alert-heading">Password Expiry Notification</h4>
			<p>Your password has expired as per policy. You must change it
				every two months.</p>
			<hr>
		</div>


		<form th:action="@{/change_password}" method="post"
			style="max-width: 350px; margin: 0 auto;">
			<div class="border border-secondary rounded p-3">
				<div th:if="${message != null}" class="m-3">
					<p class="text-danger">[[${message}]]</p>
				</div>
				<div>
					<p>
						<input type="password" name="oldPassword" class="form-control"
							placeholder="Old Password" required autofocus />
					</p>
					<p>
						<input type="password" name="newPassword" id="newPassword"
							class="form-control" placeholder="New password" required />
					</p>
					<p>
						<input type="password" class="form-control"
							placeholder="Confirm new password" required
							oninput="checkPasswordMatch(this);" />
					</p>
					<p class="text-center">
						<input type="submit" value="Change Password"
							class="btn btn-primary" />
					</p>
				</div>
			</div>
		</form>

		<div>&nbsp;</div>

		<div th:replace="navigation :: footer_menu"></div>
		<div th:replace="subscribe_newsletter_thanks_modal :: subscribe_modal"></div>
	</div>
	<script type="text/javascript">
	contextPath = "[[@{/}]]";
	var csrfHeaderName = "[[${_csrf.headerName}]]";
	var csrfValue = "[[${_csrf.token}]]";
	
	
	function checkPasswordMatch(fieldConfirmPassword) {
	    if (fieldConfirmPassword.value != $("#newPassword").val()) {
	        fieldConfirmPassword.setCustomValidity("Passwords do not match!");
	    } else {
	        fieldConfirmPassword.setCustomValidity("");
	    }
	}
	
	
	</script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/subscription_modal.js}"></script>
<script type="text/javascript" th:src="@{/js/shopping_cart_items_count.js}"></script>
</body>
</html>