<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Forgot Password', 'none')" />
<body class="d-flex flex-column min-vh-100">
    <div class="container-fluid flex-grow-1">
        <div th:replace="navigation :: nav_menu"></div>
        
        <div style="border-bottom: 20px solid black;margin: 5px;padding: 5"></div>
        <div class="my-4"></div>
        <div class="text-center mb-4">
            <h2>Forgot Password</h2>
        </div>
        
        <form th:action="@{/forgot_password}" method="post" class="mx-auto" style="max-width: 460px;">
            <div th:if="${error != null}">
                <p class="text-danger">[[${error}]]</p>
            </div>
            <div th:if="${message != null}">
                <p class="text-success">[[${message}]]</p>
            </div>    
            <div class="border border-secondary rounded p-3">
                <div class="mb-3">
                    <p>We will be sending a reset password link to your email.</p>
                </div>
                <div class="mb-3">
                    <input type="email" name="email" class="form-control" placeholder="Enter your e-mail" 
                        required="required" autofocus="autofocus" />
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </form>
    </div>
    
    <div th:replace="fragments :: footer_menu" class="mt-auto"></div>
    <div th:replace="fragments :: modal_dialog"></div>
     <div th:replace="subscribe_newsletter_thanks_modal :: subscribe_modal"></div>

    <script type="text/javascript">
        contextPath = "[[@{/}]]";
        var csrfHeaderName = "[[${_csrf.headerName}]]";
        var csrfValue = "[[${_csrf.token}]]";
    </script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/common_modal.js}"></script>
    <script type="text/javascript" th:src="@{/js/subscription_modal.js}"></script>
    <script type="text/javascript" th:src="@{/js/shopping_cart_items_count.js}"></script>
</body>
</html>
