<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle}, 'none')"></head>

<body class="d-flex flex-column min-vh-100 bg-light">
    <div class="container-fluid flex-grow-1">
        <div th:replace="navigation :: nav_menu"></div>
        <div style="border-bottom: 20px solid black; margin: 5px; padding: 5px;"></div>
        <main class="my-auto">
            <div class="container text-center">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <h2 class="my-4">Reset Your Password</h2>
                        <div class="alert alert-warning" role="alert">
                            The token is invalid or has expired. Password reset tokens are only valid for a certain period of time and for a single use.
                        </div>
                        <a class="btn btn-success m-3" th:href="@{/forgot_password}">Request a new one</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer class="mt-auto">
        <div th:replace="fragments :: footer_menu"></div>
    </footer>
    <div th:replace="fragments :: modal_dialog"></div>
    <div th:replace="subscribe_newsletter_thanks_modal :: subscribe_modal"></div>
    <script type="text/javascript">
        contextPath = "[[@{/}]]";
        var csrfHeaderName = "[[${_csrf.headerName}]]";
        var csrfValue = "[[${_csrf.token}]]";
    </script>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/subscription_modal.js}"></script>
    <script type="text/javascript" th:src="@{/js/shopping_cart_items_count.js}"></script>
</body>
</html>
