<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="https://www.thymeleaf.org/extras/spring-security5">
<head th:replace="fragments :: page_head('Home', none)">
    <style>
        .card-body-fixed-height {
            height: 100px; /* Adjust this height as needed */
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <!-- Navigation -->
    <div th:replace="navigation :: nav_menu"></div>

    <!-- Header -->
    <div th:replace="navigation :: special_message"></div>
    <div th:replace="navigation :: header_images"></div>
    <div th:replace="breadcrumb :: content"></div>

    <!-- Section -->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <th:block th:each="brand : ${listBrands}">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image -->
                            <img class="card-img-top" th:src="@{${brand.logoPath}}" alt="..." style="max-width: 450px; max-height: 300px;" />
                            
                            <!-- Product details -->
                            <div class="card-body p-4 card-body-fixed-height">
                                <div class="text-center">
                                    <!-- Product name -->
                                    <a class="fw-bolder product-name" th:href="@{'/brand/' + ${brand.id}}" title="Click to view full details">[[${brand.name}]]</a>
                                </div>
                            </div>

                            <!-- Product actions -->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark" th:href="@{'/brand/' + ${brand.id}}" title="Click to view the all products of this brand">View Products</a>
                                </div>
                            </div>
                            <input type="hidden" id="csrfToken" th:value="${_csrf.token}" />
                            <input type="hidden" id="csrfHeaderName" th:value="${_csrf.headerName}" />
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </section>

    <!-- Modal Dialog for Product Detail -->
    <div class="modal fade" id="detailModal">
        <div class="modal-dialog modal-md">
            <div class="modal-content"></div>
        </div>
    </div>
    
    <div th:replace="pagination_for_more_then_10page :: pagination('brands', '/brands')"></div>

    <!-- Footer -->
    <div th:replace="fragments :: footer_menu"></div>
    <div th:replace="fragments :: modal_dialog"></div>
    <div th:replace="subscribe_newsletter_thanks_modal :: subscribe_modal"></div>

    <!-- Bootstrap core JS -->
    <script type="text/javascript" th:src="@{/js/jquery.number.min.js}"></script>
    <script type="text/javascript">
        contextPath = "[[@{/}]]";
        var csrfHeaderName = "[[${_csrf.headerName}]]";
        var csrfValue = "[[${_csrf.token}]]";
        decimalSeparator = "[[${DECIMAL_POINT_TYPE == 'COMMA' ? ',' : '.'}]]";
        thousandSeparator = "[[${THOUSANDS_POINT_TYPE == 'COMMA' ? ',' : '.'}]]";
    </script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/common_modal.js}"></script>
    <script type="text/javascript" th:src="@{/js/subscription_modal.js}"></script>
    <script type="text/javascript" th:src="@{/js/add_to_cart_from_pages.js}"></script>
    <script type="text/javascript" th:src="@{/js/shopping_cart_items_count.js}"></script>
</body>
</html>
